* { margin: 0; padding: 0; }

:root {
  --bg-color1: hsl(0, 0%, 4%);
  --bg-color2: hsl(0, 0%, 8%);
  --fg-color1: hsl(0, 0%, 95%);
  --fg-color2: hsl(0, 0%, 90%);
}

body { background-color: var(--bg-color1); color: white; }
footer, header { background-color: var(--bg-color2); }

header h1 {
  text-align: center;
  padding-block: 1rem;
}
footer p {
  text-align: center;
  padding-block: 1rem;
}

/* stick footer to the bottom */
html, body { height: 100% }
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
footer { margin-block-start: auto; }

.carousel {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.arrow {
  padding: 1rem;
}

.container {
  height: 100%;
  width: 20rem;
  display: flex;
  justify-content: center;
}

.container img {
  height: 100%;
}

.container {
  background-color: hsl(0, 0%, 1%);
}

.carousel img {
  padding: 1rem;
}

.catalog-pages {
  background-color: rgb(68, 67, 67);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

}
.product-card {
  background-color: black;
  padding: 1rem;
  width: 17rem;
  text-align: center;
}


.pages-nav{
  display: flex;
  padding-block: 1rem;
  justify-content: center;
}

  .pages-nav button{
    padding: .5rem 1rem;  
  }